

    <!-- image with title -->
    <div class="hero-image">
        <div class="hero-text">
          <h1>FULL STACK DEVELOPMENT</h1>
          <!-- <p>And I'm a Photographer</p> -->  
        </div>
      </div>
      
<!-- END -->
<br><br>

      <!-- ABOUT THE PROGRAM -->
      <section>

      <div class="myDiv">
        <h2>About the proram</h2>
        <p>ICT Academy of Kerala is a Social Enterprise created in a Public Private Partnership model (PPP) for imparting ICT skills to the youths of Kerala and improve their employability opportunities in the Industry.
            The Company is supported by Govt. of India , partnered by Govt. of Kerala and the IT industry..</p>
     
    </div>
</section>
      <!-- END -->
      <br><br><br><br><br><br>
      <br><br><br><br><br><br>
<!-- OBJECTIVE AND AGENDA -->
<div class="row">
    <div class="column">
      <img src="imges/Shorelight_Computer_Science.jpg" alt="Snow" style="width: 550px;height: 465px;">
      <div class="text-block1">
        <h4>Nature</h4>
        <p>What a beautiful sunrise</p>
      </div>
    </div>
    <div class="column">
      <img src="imges/laptop-cloud-storage-shared-access-isometric-vector-id1063730694_0.jpg" alt="Forest" style="width:1040px;height:550px;">
      <div class="text-block2">
        <h4>Nature</h4>
        <p>What a beautiful sunrise</p>
      </div>
    </div>
   
  </div>
<!-- END -->
<br><br><br><br><br><br>

<!-- HIGHLIGHTS -->
<div class="container">
       
    <div class="box" style="background:green;"></div>
  <div class="box stack-top" style="background: grey;">
    <h1 class="we">HIGHLIGHTS</h1>
  </div>
</div>
<!-- END -->

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

<!-- eligibility and fees -->
<section>
<div class="timeline">
    <div class="container left">
      <div class="content">
        <h2>ELIGIBILIY</h2>
        <p>Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis ea eam.</p>
      </div>
    </div>
    <div class="container right">
      <div class="content">
        <h2>Entrance Test Details</h2>
        <p>Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis ea eam.</p>
      </div>
    </div>
    <div class="container left">
      <div class="content">
        <h2>SAMPLE QUESTION PAPER</h2>
        <p>Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis ea eam.</p>
      </div>
    </div>
   
   
    
  </div>
  </section>
<!-- END -->
<br><br><br><br>
<!-- FEE AND REFUND POLICY -->

<div class="card">
   
    <div class="description-box">
       <h2>FEES AND REFUND POLICY</h2>
       <p>Pink flowers represent grace, gentility, and happiness. Regardless of the shape of the flower – from the tight, small buds of a pink garden rose to the delicate, open petals of a pink peony in full bloom (www.teleflora.com/floral-facts)</p>
    </div>
</div>

<!-- END -->

<br><br>
<!-- IMPORTANT DATES -->
<div>
<p id="rcorners1">IMPORTANT DATES</p>
<p>Rounded corners for an element with a border:</p>

</div>
