<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex justify-content-center align-items-center">
    <div class="container position-relative" data-aos="zoom-in" data-aos-delay="100">
      <br><h1 class="title">FULL STACK DEVELOPMENT</h1>
      <!-- <h2>Building the Nation's Future</h2> -->
      <!-- <a href="courses.html" class="btn-get-started">Get Started</a> -->
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-title" >
          <h2>About</h2>
          <p>About the program</p>
        </div>

        <div class="row">
         
          <div class="col-lg-12 pt-4 pt-lg-0 order-2 order-lg-1 content">
           
            <p>
              ICT Academy of Kerala is a Social Enterprise created in a Public Private Partnership model (PPP) for imparting ICT skills to the youths of Kerala and improve their employability opportunities in the Industry.
               The Company is supported by Govt. of India , partnered by Govt. of Kerala and the IT industry.
            </p>
            <br>
            <ul>
              <li><i class="icofont-check-circled"></i> Industry focused enablement programmes for Faculty members.</li>
              <li><i class="icofont-check-circled"></i> Industry focused ICT Skills development programmes for Students.</li>
              <li><i class="icofont-check-circled"></i> Project assignments related to capability building for Institutions and Corporate.</li>
            </ul><br>
            <!-- <p>
              Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
            </p> -->
            <!-- <a href="about.html" class="learn-more-btn">Learn More</a> -->
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

   

    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-6 d-flex align-items-stretch">
            <div class="content">
              <h3>OBJECTIVE</h3>
              <ul>
                <li> Government supported and Industry-led Program</li>
                <li>  Government scholarships and affordable fees model</li>
                <li>One-stop shop for Students, Unemployed and Working professionals</li>
                </ul><br>
              <div class="text-center">
                <a href="about.html" class="more-btn">Learn More <i class="bx bx-chevron-right"></i></a>
              </div>
            </div>
          </div>
		  <div class="col-lg-6 d-flex align-items-stretch">
            <div class="content">
              <h3>AGENDA</h3>
              <ul>
                <li> Government supported and Industry-led Program</li>
                <li>  Government scholarships and affordable fees model</li>
                <li>One-stop shop for Students, Unemployed and Working professionals</li>
                </ul><br>
              <div class="text-center">
                <a href="about.html" class="more-btn">Learn More <i class="bx bx-chevron-right"></i></a>
              </div>
            </div>
          </div>
          <div class="col-lg-8 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-boxes d-flex flex-column justify-content-center">
            
            </div><!-- End .content-->
          </div>
        </div>

      </div>
    </section>
	<!-- End Why Us Section -->



	<!-- hl -->
	<section id="hl" class="hl">
		<div class="container" data-aos="fade-up">
  
		  <div class="section-title" >
			<h2>Highlights</h2>
			<p>Highlights</p>
		  </div>
  
		  <div class="row">
		   
			<div class="col-lg-12 pt-4 pt-lg-0 order-2 order-lg-1 content">
			 
			  <p>
				ICT Academy of Kerala is a Social Enterprise created in a Public Private Partnership model (PPP) for imparting ICT skills to the youths of Kerala and improve their employability opportunities in the Industry.
				 The Company is supported by Govt. of India , partnered by Govt. of Kerala and the IT industry.
			  </p>
			  <br>
			  <ul>
				<li><i class="icofont-check-circled"></i> Industry focused enablement programmes for Faculty members.</li>
				<li><i class="icofont-check-circled"></i> Industry focused ICT Skills development programmes for Students.</li>
				<li><i class="icofont-check-circled"></i> Project assignments related to capability building for Institutions and Corporate.</li>
			  </ul><br>
			  <!-- <p>
				Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
			  </p> -->
			  <!-- <a href="about.html" class="learn-more-btn">Learn More</a> -->
			</div>
		  </div>
  
		</div>
	  </section><!-- End About Section -->
  
	<!-- END -->
<!-- highlights

   <section id="highlights" class="highlights">
	  <div class="container" data-aos="fade-up">
          <div class="container">

			<div class="box" style="background:green;"></div>
            <div class="box stack-top" style="background: grey;">
                 <h1 class="we">HIGHLIGHTS</h1>
            </div>
		
	      </div>
      </div>
    </section>-->
          
<section id="entrance" class="entrance">
	<div class="container" data-aos="fade-up">

		<div class="timeline">
			<div class="container left">
			  <div class="content">
				<h2>Eligibity</h2>
				<p>Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis ea eam.</p>
			  </div>
			</div>
			<div class="container right">
			  <div class="content">
				<h2>Entrance Test Details</h2>
				<p>Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis ea eam.</p>
			  </div>
			</div>		
			<div class="container right">
				<div class="content">
				  <h2>FEE</h2>
				  <p>Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis ea eam.</p>
				</div>
			  </div>		
			  <div class="container right">
				<div class="content">
				  <h2>Refund POLICY</h2>
				  <p>Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis ea eam.</p>
				</div>
			  </div>			
		  </div>
	</div>
</section> 


   
<section id="why-us" class="why-us">
	<div class="container" data-aos="fade-up">

	  <div class="row">
		<div class="col-lg-6 d-flex align-items-stretch">
		  <div class="content">
			<h3>IMPORTANT DATES:</h3>
			<ul>
			  <li> Government supported and Industry-led Program</li>
			  <li>  Government scholarships and affordable fees model</li>
			  <li>One-stop shop for Students, Unemployed and Working professionals</li>
			  </ul><br>
			<!-- <div class="text-center">
			  <a href="about.html" class="more-btn">Learn More <i class="bx bx-chevron-right"></i></a>
			</div> -->
		  </div>
		</div>
		</div>
		

	</div>
  </section>
  </main><!-- End #main -->
