<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex justify-content-center align-items-center">
    <div class="container position-relative" data-aos="zoom-in" data-aos-delay="100">
      <h2>Welcome to </h2><br><h1>ICT ACADEMY OF KERALA</h1>
      <h2>Building the Nation's Future</h2>
      <a href="courses.html" class="btn-get-started">Get Started</a>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>About</h2>
          <p>About Us</p>
        </div>

        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
            <img src="../../assets/img/ictakmembership.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
            <h3>What is ICT Academy of Kerala?</h3>
            <br>
            <p class="font-italic">
              ICT Academy of Kerala is a Social Enterprise created in a Public Private Partnership model (PPP) for imparting ICT skills to the youths of Kerala and improve their employability opportunities in the Industry.
               The Company is supported by Govt. of India , partnered by Govt. of Kerala and the IT industry.
            </p>
            <br>
            <ul>
              <li><i class="icofont-check-circled"></i> Industry focused enablement programmes for Faculty members.</li>
              <li><i class="icofont-check-circled"></i> Industry focused ICT Skills development programmes for Students.</li>
              <li><i class="icofont-check-circled"></i> Project assignments related to capability building for Institutions and Corporate.</li>
            </ul><br>
            <!-- <p>
              Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
            </p> -->
            <a href="about.html" class="learn-more-btn">Learn More</a>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Counts Section ======= -->
    <!-- <section id="counts" class="counts section-bg">
      <div class="container">

        <div class="row counters">

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">1232</span>
            <p>Students</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">64</span>
            <p>Courses</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">42</span>
            <p>Events</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">15</span>
            <p>Trainers</p>
          </div>

        </div>

      </div>
    </section>End Counts Section -->

    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-4 d-flex align-items-stretch">
            <div class="content">
              <h3>Why to associate with us?</h3>
              <ul>
                <li> Government supported and Industry-led Program</li>
                <li>  Government scholarships and affordable fees model</li>
                <li>One-stop shop for Students, Unemployed and Working professionals</li>
                </ul><br>
              <div class="text-center">
                <a href="about.html" class="more-btn">Learn More <i class="bx bx-chevron-right"></i></a>
              </div>
            </div>
          </div>
          <div class="col-lg-8 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-boxes d-flex flex-column justify-content-center">
              <div class="row">
                <div class="col-xl-4 d-flex align-items-stretch">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bx bx-receipt"></i>
                    <h3>Retail</h3>
                    <!-- <p>Consequuntur sunt aut quasi enim aliquam quae harum pariatur laboris nisi ut aliquip</p> -->
                  </div>
                </div>
                <div class="col-xl-4 d-flex align-items-stretch">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bx bx-cube-alt"></i>
                   <h2>Institutional</h2>
                    <!-- <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt</p> -->
                  </div>
                </div>
                <div class="col-xl-4 d-flex align-items-stretch">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bx bx-images"></i>
                   <h3>Cooperate</h3>                  
  <!-- <p>Aut suscipit aut cum nemo deleniti aut omnis. Doloribus ut maiores omnis facere</p> -->
                  </div>
                </div>
              </div>
            </div><!-- End .content-->
          </div>
        </div>

      </div>
    </section><!-- End Why Us Section -->

    <!-- ======= Features Section ======= -->
    <section id="features" class="features">
      <div class="container" data-aos="fade-up">
       <strong><h1>  <p>PATRONS</p></h1></strong> 
        <br>
        <div class="row" data-aos="zoom-in" data-aos-delay="100">
          <div class="col-lg-3 col-md-4">
            <div class="icon-box">
              <!-- <i class="ri-store-line" style="color: #ffbb2c;"></i> -->
              <h3> <img src="../../assets/img/satyaja.png" class="img-fluid" alt="..."></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
            <div class="icon-box">
              <!-- <i class="ri-bar-chart-box-line" style="color: #5578ff;"></i> -->
              <h3><h3> <img src="../../assets/img/Kerala_Government_Emblem.png" class="img-fluid" alt="..."></h3></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
            <div class="icon-box">
              <!-- <i class="ri-calendar-todo-line" style="color: #e80368;"></i> -->
              <h3><h3> <img src="../../assets/img/ibs.png" class="img-fluid" alt="..."></h3></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4 mt-lg-0">
            <div class="icon-box">
              <!-- <i class="ri-paint-brush-line" style="color: #e361ff;"></i> -->
              <h3><h3> <img src="../../assets/img/quest.jpg" class="img-fluid" alt="..."></h3></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4">
            <div class="icon-box">
              <!-- <i class="ri-database-2-line" style="color: #47aeff;"></i> -->
              <h3><h3> <img src="../../assets/img/UST_Logo.jpg" class="img-fluid" alt="..."></h3></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4">
            <div class="icon-box">
              <!-- <i class="ri-gradienter-line" style="color: #ffa76e;"></i> -->
              <h3><h3> <img src="../../assets/img/t1.jpg" class="img-fluid" alt="..."></h3></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4">
            <div class="icon-box">
              <!-- <i class="ri-file-list-3-line" style="color: #11dbcf;"></i> -->
              <h3> <img src="../../assets/img/" class="img-fluid" alt="..."></h3>
            </div>
          </div>


          <div class="row">
            <div class="container">
              <section class="logo-carousel slider" data-arrows="true">
                <div class="slide"><img src="../../assets/img/satyaja.png"></div>
                <div class="slide"><img src="../../assets/img/ibs.png"></div>
                <div class="slide"><img src="../../assets/img/quest.jpg"></div>
                <div class="slide"><img src="../../assets/img/UST_Logo.jpg"></div>
                <div class="slide"><img src="../../assets/img/t1.jpg"></div>
                <div class="slide"><img src=""></div>
                <div class="slide"><img src=""></div>
              </section>
            </div>
          </div>
        
          <!-- <div class="col-lg-3 col-md-4 mt-4">
            <div class="icon-box">
              <!-- <i class="ri-price-tag-2-line" style="color: #4233ff;"></i> 
              <h3><img src="../../assets/img/" class="img-fluid" alt="..."></h3>
            </div>
          </div> -->
          <!-- <div class="col-lg-3 col-md-4 mt-4">
            <div class="icon-box">
              <i class="ri-anchor-line" style="color: #b2904f;"></i>
              <h3><a href="">Dirada Pack</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4">
            <div class="icon-box">
              <i class="ri-disc-line" style="color: #b20969;"></i>
              <h3><a href="">Moton Ideal</a></h3>
            </div>
          </div> -->
          <!-- <div class="col-lg-3 col-md-4 mt-4">
            <div class="icon-box">
              <i class="ri-base-station-line" style="color: #ff5828;"></i>
              <h3><a href="">Verdo Park</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4">
            <div class="icon-box">
              <i class="ri-fingerprint-line" style="color: #29cc61;"></i>
              <h3><a href="">Flavor Nivelanda</a></h3>
            </div>
          </div> -->
        </div>

      </div>
    </section><!-- End Features Section -->

    <!-- ======= Popular Courses Section ======= -->
    <section id="popular-courses" class="courses">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Courses</h2>
          <p>Popular Courses</p>
        </div>

        <div class="row" data-aos="zoom-in" data-aos-delay="100">

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="course-item">
              <img src="../../assets/img/Full-Stack-Development-Services-1.jpg" class="img-fluid" alt="...">
             

                <h3><a href="course-details.html">CERTIFIED SPECIALIST IN FULL STACK DEVELOPMENT</a></h3>
                <p>Accelerated Blockchain Development Program(ABCD) is a technology training programme 
                   facilitated by Govt. of Kerala, that will be of high industry relevance in the coming years.
                  The interested candidates will have to register for an Entrance test .</p><span><a href="">Read more</a></span>
                 
                 
                  <div class="course-content">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                      <h4>Register now</h4>
                      <!-- <p class="price">$169</p> -->
                    </div>
                 
                  <!-- <div class="trainer d-flex justify-content-between align-items-center">
                  <div class="trainer-profile d-flex align-items-center">
                    <img src="assets/img/trainers/trainer-1.jpg" class="img-fluid" alt="">
                    <span>Antonio</span>
                  </div> 
                  <div class="trainer-rank d-flex align-items-center">
                    <i class="bx bx-user"></i>&nbsp;50
                    &nbsp;&nbsp;
                    <i class="bx bx-heart"></i>&nbsp;65
                  </div>
                </div> -->
              </div>
            </div>
          </div> <!-- End Course Item-->

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
            <div class="course-item">
              <img src="../../assets/img/Software-Testing-Interview-Questions.png" class="img-fluid" alt="...">
              

                <h3><a href="course-details.html">SOFTWARE TESTING</a></h3>
                <p>Software testing is the process of evaluating and verifying that a software product or application does what it is supposed to do. The benefits of testing include preventing bugs,
                   reducing development costs and improving performance.</p>
                <span><a href="">Read more</a></span>
                <div class="course-content">
                  <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4>Register now</h4>
                    <!-- <p class="price">$250</p> -->
                  </div>
                <!-- <div class="trainer d-flex justify-content-between align-items-center">
                  <div class="trainer-profile d-flex align-items-center">
                    <img src="assets/img/trainers/trainer-2.jpg" class="img-fluid" alt="">
                    <span>Lana</span>
                  </div>
                  <div class="trainer-rank d-flex align-items-center">
                    <i class="bx bx-user"></i>&nbsp;35
                    &nbsp;&nbsp;
                    <i class="bx bx-heart"></i>&nbsp;42
                  </div>
                </div> -->
              </div>
            </div>
          </div> <!-- End Course Item-->

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
            <div class="course-item">
              <img src="../../assets/img/Big-Career-Dream-with-data-science-and-engineering-2.jpg" class="img-fluid" alt="...">
              

                <h3><a href="course-details.html">CERTIFIED SPECIALIST IN DATA SCIENCE AND ANALYTICS</a></h3>
                <p>Data Scientists is a breed of data experts who have the technical skills to solve complex problems whereas analytics interpret data and turn it into information which can offer ways to improve a business. 
                  ICT Academy of Kerala offers a specialized certificate course on “Data Science and Analytics”.</p>
                <span><a href="">Read more</a></span>
                <div class="course-content">
                  <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4>Register now</h4>
                    <!-- <p class="price">$180</p> -->
                  </div>
                <!-- <div class="trainer d-flex justify-content-between align-items-center">
                  <div class="trainer-profile d-flex align-items-center">
                    <img src="assets/img/trainers/trainer-3.jpg" class="img-fluid" alt="">
                    <span>Brandon</span>
                  </div>
                  <div class="trainer-rank d-flex align-items-center">
                    <i class="bx bx-user"></i>&nbsp;20
                    &nbsp;&nbsp;
                    <i class="bx bx-heart"></i>&nbsp;85
                  </div>
                </div> -->
              </div>
            </div>
          </div> <!-- End Course Item-->

        </div>

      </div>
    </section><!-- End Popular Courses Section -->

    <!-- ======= Trainers Section ======= -->
    <section id="trainers" class="trainers">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Trainers</h2>
          <p>Our Professional Trainers</p>
        </div>

        <div class="row" data-aos="zoom-in" data-aos-delay="100">
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <img src="../../assets/img/dr.divakaran.jpg" class="img-fluid" alt="">
              <div class="member-content">
                <h4>Dr. K.S Divakaran Nair</h4>
                <span>Director, SNGIST</span>
                <p>
                  ICT Academy of Kerala, professionally managed by a team of committed 
                  leaders offers various trainings and development programmes for students
                   and teachers for engineering colleges. ICT Academy of Kerala has influenced 
                   thousands of students and teachers in the state and made them realize the
                    significance of employability. ICTAK has made the member colleges proud 
                    of and help them to showcase their achievements. We at SNGIST,
                     North Paravur wish ICTAK a very eventful and successful year ahead.
                </p>
                <div class="social">
                  <a href=""><i class="icofont-twitter"></i></a>
                  <a href=""><i class="icofont-facebook"></i></a>
                  <a href=""><i class="icofont-instagram"></i></a>
                  <a href=""><i class="icofont-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <img src="../../assets/img/dr.sudha.jpg" class="img-fluid" alt="">
              <div class="member-content">
                <h4>Dr. Sudha Balagopalan</h4>
                <span>Manager</span>
                <p>
                  It was our proud privilege to be associated with ICTAK for 
                  the last full year. While it was a great learning experience for our institution, we were also impressed by the dedication and professionalism, each opportunity, be it training sessions or placement initiatives ICTAK brought to the students and staff. The high quality delivery and reach ICTAK gave our institution is viewed with gratitude and honor. Personally, every meeting that I attended left me enriched and growing and I take this opportunity 
                  for extending our warm wishes and many many glorious years together.
                </p>
                <div class="social">
                  <a href=""><i class="icofont-twitter"></i></a>
                  <a href=""><i class="icofont-facebook"></i></a>
                  <a href=""><i class="icofont-instagram"></i></a>
                  <a href=""><i class="icofont-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>


          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <img src="../../assets/img/naseef.jpg" class="img-fluid" alt="">
              <div class="member-content">
                <h4>Mr. Naseef</h4>
                <span></span>
                <p>
                  Firstly, Special thanks to ICT ACADEMY-CALICUT Branch. This course teach
                   me a lot of things to becoming Fullstack  developer. Important topic is 
                   covered in this course as both server-side and client-side ,Node js, 
                   Express js, MongoDb, Angular js, HTML, CSS, Python, etc. They really
                    teach what do we need to know and their application on real world problem. 
                    There are projects that student can learn to improve their skill. This is
                     the best course to learn Fullstack development , great teacher. Every step 
                     of code is explained, and even better thing is 
                  that all those explanations are written down, so it makes it easier to learn.                </p>
                <div class="social">
                  <a href=""><i class="icofont-twitter"></i></a>
                  <a href=""><i class="icofont-facebook"></i></a>
                  <a href=""><i class="icofont-instagram"></i></a>
                  <a href=""><i class="icofont-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>


          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <img src="../../assets/img/dr.syam.jpg" class="img-fluid" alt="">
              <div class="member-content">
                <h4>Dr. Syam Prakash</h4>
                <span>Principal, GCE Kannur</span>
                <p>
                  Firstly, Special thanks to ICT ACADEMY-CALICUT Branch. This course teach 
                  me a lot of things to becoming Fullstack  developer. Important topic is 
                  covered in this course as both server-side and client-side ,Node js,
                   Express js, MongoDb, Angular js, HTML, CSS, Python, etc. They really
                    teach what do we need to know and their application on real world problem.
                     There are projects that student can learn to improve their skill.
                      This is the best course to learn Fullstack development , great teacher. 
                      Every step of code is explained, and even better thing is that 
                  all those explanations are written down, so it makes it easier to learn.
                </p>
                <div class="social">
                  <a href=""><i class="icofont-twitter"></i></a>
                  <a href=""><i class="icofont-facebook"></i></a>
                  <a href=""><i class="icofont-instagram"></i></a>
                  <a href=""><i class="icofont-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Trainers Section -->

  </main><!-- End #main -->
